# The youtube data api key. Get it from https://console.cloud.google.com
api_key = "<api key>"

# The socket for http server
socket= "127.0.0.1:80"

# Interval between updating video info. In minutes.
# Will cost about <videos to be updated> / 50 quota
video_refresh_interval= 10

# The refresh delay in seconds
# The server will try to align the refresh time at <video_refresh_interval in an hour + video_refresh_delay>
# When video_refresh_interval is in the range 2..=60
video_refresh_delay = 60

# Interval between updating channel info. In minutes.
# Will cost about <channels to be updated> / 50 quota
channel_refresh_interval= 1440

# Delete channel data when it is not used in the time span
# In minutes
channel_expire_min = 10080

# Logging level
log_level= "Info"

# Enable warp's compression: https://docs.rs/warp/latest/warp/filters/compression/index.html
# none | gzip | dflate
compression= "none"

# Information for https server
#[tls]
#socket= "127.0.0.1:443"
#cert = "dummy.cert"
#key = "dummy.key"

# APP keys for twitch api
# Get it from: https://dev.twitch.tv/console
#[twitch_key]
#client_id = "<your app id>"
#client_secret = "<your app secret>"
