# The youtube data api key. Get it from https://console.cloud.google.com
api_key = "<api key>"

# The socket for http server
socket= "127.0.0.1:80"

# Interval between updating video info. In minutes.
# Will cost about <videos to be updated> / 50 quota
video_refresh_interval= 10

# The refresh delay in seconds
# The server will try to align the refresh time at <video_refresh_interval in an hour + video_refresh_delay>
# When video_refresh_interval is in the range 2..=60
video_refresh_delay = 60

# Interval between updating channel info. In minutes.
# Will cost about <channels to be updated> / 50 quota
channel_refresh_interval= 1440

# Delete channel data when it is not used in the time span
# In minutes
channel_expire_min = 10080

# Logging level
log_level= "Info"

# Use youtube playlist api to retrieve video list.
# By default, the project uses rss feed to fetch the video list.
# But youtube will cache the rss result for 15 mins. This might cause the video database outdated.
# (Each channel will take 1 api quota in each update)
#
# Set value to 1, the server will use api call at the first update of the hour
# Set value to 2, the server will use api call at the first update of the hour and once  after 30 min
# Set value to 3, the server will use api call at the first update of the hour, once after 20 min and 40 min. And so on...
use_youtube_api_per_hour = 2

# APP keys for twitch api
# Get it from: https://dev.twitch.tv/console
#[twitch_key]
#client_id = "<your app id>"
#client_secret = "<your app secret>"
