@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
body {
  background-color: #111111;
  color: #bbbbbb;
  font-family: "Noto Sans TC", sans-serif;
}
img.channel_avatar {
  border-radius: 50%;
}
div.video_frame {
  max-width: 320px;
  width: 320px;
  margin: 1rem;
}
span.video_title {
  overflow-wrap: break-word;
  max-width: 320px;
  width: 320px;
}
a {
  color: #f3f2ff;
  text-decoration: none;
}
div.video_container {
  display: flex;
  flex-wrap: wrap;
}
input#menu {
  display: none;
}
div#menu_content {
  position: fixed !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: #333333;
  overflow: hidden;
  transition: width 0.1s;
  padding: 0px;
}
button {
  border-radius: 3px;
  background-color: #555555;
  border: 0px;
  font-size: 1.2em;
  color:#cccccc;
  margin: 5px;
}
button:hover {
  background-color: #606060;
}
input {
  font-size: 1.2em;
}
h2 {
  color: #dddddd;
}